* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url("scattered-forcefields.svg");
    background-size: 2000px 1000px;
    background-position: -500px 0;
    color: #f9f9f9;
    font-family: "Euclid Circular A";
    animation: gradient 10s infinite alternate linear;
}

.head {
    margin: 100px auto;
    text-align: center;
    font-family: 'Euclid Circular A';
    font-size: 25px;
    color: #19191c;
}

@keyframes gradient {
    100% {
        background-size: 4000px 1000px;
    }
}

button {
    border: 0;
    padding: 0;
    font-family: inherit;
    background: transparent;
    color: inherit;
    cursor: pointer;
}

.a {
    text-decoration: none;
    color: inherit;
}
.a:hover{
    color: crimson;
}

h2{
    color: #19191c;
}

p{
    color: #19191c;
}

.box-1{
    border-color: black;
}


.box {
    width: 250px;
    border: 3px solid;
    border-radius: 20px;
    border-color: black;
}

.bookdiv {
    text-align: center;
}

.inputRUD {
    border-radius: 5px;
    cursor: pointer;
}



.creatbookbtn {
    width: 70px;
    color: #f9f9f9;
    background-color: #0d0d0e;
    border-radius: 5px;
}

.viewbookbtn {
    color: #f9f9f9;
    background-color: #0d0d0e;
    border-radius: 5px;
    width: 80px;
}

.editbookbtn {
    color: #f9f9f9;
    background-color: #0d0d0e;
    border-radius: 5px;
    width: 40px;
}

.formbuttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

img {
    width: 90%;
    height: 300px;
    border-radius: 10px;
}
.navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    background: #19191c;
    color: #f9f9f9;
    font-family: "Poppins";
    box-sizing: border-box;
}



@media only screen and (min-width: 600px) {
    .navbar {
        justify-content: space-between;
        padding: 0 0 0 16px;
    }
}

.edithbook {
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    width: 700px;
    margin: 120px auto 5px auto;
    flex-wrap: wrap;
    color: #000000;
    font-size: 20px;
}

.navbar-overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

body.open .navbar-overlay {
    visibility: visible;
    opacity: 1;
}

@media only screen and (min-width: 600px) {
    .navbar-overlay {
        display: none;
    }
}

.navbar-burger {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 64px;
    height: 64px;
    padding: 0;
}

@media only screen and (min-width: 600px) {
    .navbar-burger {
        display: none;
    }
}

.navbar-title {
    margin: 0;
    font-size: 16px;
}

.navbar-menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    translate: -100% 0;
    width: 270px;
    height: 100%;
    padding: 20px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    background: #000000;
    visibility: hidden;
    transition: translate 0.3s;
}

body.open .navbar-menu {
    translate: 0 0;
    visibility: visible;
}

@media only screen and (min-width: 600px) {
    .navbar-menu {
        position: static;
        translate: 0 0;
        width: auto;
        background: transparent;
        flex-direction: row;
        visibility: visible;
    }
}

.navbar-menu>button {
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    padding: 0 8px;
}

.navbar-menu>button.active {
    color: inherit;
}